# Ejercicios Modulo 4. Librerías especializadas en datos

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M4_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Trabajemos con pandas**

* Importa pandas y usa un alias para poder utilizar sus recursos
* Cargar como dataframe de pandas el csv imdb_titulos.csv y mostrar sus 5 primeros registros
* Cargar como dataframe de pandas el csv imdb_elenco.csv y mostrar sus 5 primeros registros
* Mostrar el número de registros del dataframe de titulos
* Mostrar el número de registros del dataframe de elenco
* Mostrar las 5 peliculas más antiguas del listado de titulos
* Mostrar las peliculas que en el titulo tienen la palabra "Dracula". También mostrar el número total de peliculas que coincidan con este requisito
* Mostrar los 10 titulos más comunes (que más se repiten)
* Mostrar cual fue la primer pelicula hecha titulada "Romeo and Juliet" 
* Listar todas las peliculas que contengan la palabra "Exorcist" ordenadas de la más vieja a la más reciente
* Mostrar cuantas peliculas fueron hechas en el año 1950
* Mostrar cuantas peliculas fueron hechas de 1950 a 1959
* Mostrar todos los roles o papeles que hubo en la pelicula "The Godfather". También mostrar el número total de coincidencias
* Mostrar el elenco completo ordenado por la clasificacion "n" de la pelicula "Dracula" de 1958
* Mostrar cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las peliculas
* Mostrar cuantos papeles ha hecho "Robert De Niro" en su carrera
* Listado de papeles como protagonista (n=1) que tuvo el actor "Charlton Heston" en la década de los 60's, ordenado por año de forma descendente
* Mostrar cuantos papeles para actores hubo en la década de los 50's
* Mostrar cuantos papeles para actrices hubo en la década de los 50's

In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)

df_titles = pd.read_csv('imdb_titulos.csv')
df_cast = pd.read_csv('imdb_elenco.csv')

print("Columnas títulos:", df_titles.columns.tolist())
print("Columnas elenco:", df_cast.columns.tolist())

possible_title_cols = ['primaryTitle','title','originalTitle','título','name']
title_col = next((c for c in possible_title_cols if c in df_titles.columns), df_titles.columns[0])

possible_year_cols = ['startYear','year','release_year']
year_col = next((c for c in possible_year_cols if c in df_titles.columns), None)

print('\n5 primeros títulos:')
display(df_titles.head())
print('\n5 primeros registros de elenco:')
display(df_cast.head())

print(f"\nNúmero de registros en titulos: {len(df_titles)}")
print(f"Número de registros en elenco: {len(df_cast)}")

if year_col:
    oldest = df_titles.dropna(subset=[year_col]).sort_values(year_col).head(5)
    print('\n5 películas más antiguas:')
    display(oldest[[title_col, year_col]])
else:
    print('\nNo se encontró columna de año en titulos.')

dracula_mask = df_titles[title_col].str.contains('Dracula', case=False, na=False)
dracula_df = df_titles[dracula_mask]
print(f"\nPelículas con 'Dracula' en el título: {len(dracula_df)}")
display(dracula_df[[title_col] + ([year_col] if year_col else [])].head())

print('\n10 títulos más comunes:')
display(df_titles[title_col].value_counts().head(10))

romeo_df = df_titles[df_titles[title_col] == 'Romeo and Juliet']
if year_col and not romeo_df.empty:
    first_romeo = romeo_df.sort_values(year_col).iloc[0]
    print("\nPrimera película titulada 'Romeo and Juliet':")
    display(first_romeo[[title_col, year_col]])
else:
    print("\nNo se encontró 'Romeo and Juliet' en el dataset o falta columna de año.")

exorcist_df = df_titles[df_titles[title_col].str.contains('Exorcist', case=False, na=False)]
if year_col:
    exorcist_sorted = exorcist_df.dropna(subset=[year_col]).sort_values(year_col)
    print('\nPelículas que contienen "Exorcist" (de más vieja a más reciente):')
    display(exorcist_sorted[[title_col, year_col]])
else:
    display(exorcist_df[[title_col]])

if year_col:
    movies_1950 = df_titles[df_titles[year_col] == 1950]
    movies_50s = df_titles[df_titles[year_col].between(1950, 1959)]
    print(f"\nPelículas en 1950: {len(movies_1950)}")
    print(f"Películas 1950-1959: {len(movies_50s)}")
else:
    print('\nNo se pudo calcular películas por año (columna año no encontrada).')

possible_person_cols = ['name','primaryName','actorName']
possible_title_cast_cols = ['title','primaryTitle','movie_title']
possible_year_cast_cols = ['startYear','year','release_year']
possible_char_cols = ['character','characters','role']

person_col = next((c for c in possible_person_cols if c in df_cast.columns), None)
title_cast_col = next((c for c in possible_title_cast_cols if c in df_cast.columns), None)
year_cast_col = next((c for c in possible_year_cast_cols if c in df_cast.columns), None)
char_col = next((c for c in possible_char_cols if c in df_cast.columns), None)

n_col = 'n' if 'n' in df_cast.columns else None

if title_cast_col:
    godf = df_cast[df_cast[title_cast_col].str.contains('The Godfather', case=False, na=False)]
else:
    godf = df_cast[df_cast.apply(lambda r: r.astype(str).str.contains('The Godfather', case=False).any(), axis=1)]

print(f"\nRoles en 'The Godfather': {len(godf)}")
display(godf.head())

if title_cast_col and year_cast_col and n_col:
    dracula_1958 = df_cast[(df_cast[title_cast_col].str.contains('Dracula', case=False, na=False)) & (df_cast[year_cast_col] == 1958)]
    dracula_1958_sorted = dracula_1958.sort_values(n_col)
    print('\nElenco de "Dracula" (1958) ordenado por n:')
    display(dracula_1958_sorted)
else:
    print('\nNo se pudo ordenar elenco de "Dracula" por n (falta columna).')

if char_col:
    bw = df_cast[df_cast[char_col].str.contains('Bruce Wayne', case=False, na=False)]
    print(f"\nCantidad de papeles de 'Bruce Wayne': {len(bw)}")
else:
    print('\nNo se encontró columna de personajes para buscar "Bruce Wayne".')

if person_col:
    rd = df_cast[df_cast[person_col].str.contains('Robert De Niro', case=False, na=False)]
    print(f"\nCantidad de papeles de Robert De Niro: {len(rd)}")
else:
    print('\nNo se encontró columna de nombre de actor en el dataset de elenco.')

if person_col and n_col and year_cast_col:
    ch = df_cast[(df_cast[person_col].str.contains('Charlton Heston', case=False, na=False)) & (df_cast[n_col] == 1) & (df_cast[year_cast_col].between(1960, 1969))]
    ch_sorted = ch.sort_values(year_cast_col, ascending=False)
    print('\nPapeles como protagonista (n=1) de Charlton Heston en los 60s:')
    display(ch_sorted)
else:
    print('\nNo se pudo calcular papeles protagonistas de Charlton Heston en los 60s (faltan columnas).')

possible_category_cols = ['category','job','roleType']
cat_col = next((c for c in possible_category_cols if c in df_cast.columns), None)

if cat_col and year_cast_col:
    actors_50s = df_cast[(df_cast[cat_col].str.contains('actor', case=False, na=False)) & (df_cast[year_cast_col].between(1950, 1959))]
    actresses_50s = df_cast[(df_cast[cat_col].str.contains('actress', case=False, na=False)) & (df_cast[year_cast_col].between(1950, 1959))]
    print(f"\nPapeles de actores en los 50s: {len(actors_50s)}")
    print(f"Papeles de actrices en los 50s: {len(actresses_50s)}")
else:
    print('\nNo se encontró columna de categoría para contar actores/actrices por década.')

Columnas títulos: ['title', 'year']
Columnas elenco: ['title', 'year', 'name', 'type', 'character', 'n']

5 primeros títulos:

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

5 primeros registros de elenco:

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

Número de registros en titulos: 230407
Número de registros en elenco: 3564650

5 películas más antiguas:

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900
136487                              Soldiers of the Cross  1900

Películas con 'Dracula' en el título: 84

                                 title  year
3903        Bonnie & Clyde vs. Dracula  2008
4851                  House of Dracula  1945
13441                   Batman Dracula  1964
15371  Young-guwa heubhyeolgwi dracula  1992
20794                Terror of Dracula  2012

10 títulos más comunes:

title
Hamlet                  19
Carmen                  16
Macbeth                 15
The Three Musketeers    11
Hero                    11
Maya                    11
Othello                 11
The Outsider            11
Paradise                10
Anna Karenina           10
Name: count, dtype: int64

Primera película titulada 'Romeo and Juliet':

title    Romeo and Juliet
year                 1916
Name: 124702, dtype: object

Películas que contienen "Exorcist" (de más vieja a más reciente):

                                         title  year
88003                             The Exorcist  1973
49658                  O Exorcista de Mulheres  1974
118920     Satanico Pandemonium: La Sexorcista  1975
140519                Exorcist II: The Heretic  1977
220073                        Kung Fu Exorcist  1978
17375                         The Exorcist III  1990
132451                        Teenage Exorcist  1991
117797                 Exorcist: The Beginning  2004
94189        Dominion: Prequel to the Exorcist  2005
209250  Costa Chica: Confession of an Exorcist  2006
86354                      Exorcist Chronicles  2007
130686                      The Disco Exorcist  2011
57932                      Exorcist Chronicles  2013
69974                           Shark Exorcist  2015
151850                              Exorcistas  2015
51101                            Bad Exorcists  2015
161093                       American Exorcist  2016
60700                      Accidental Exorcist  2016
195615                    Diary of an Exorcist  2016
228642                  Exorcist House of Evil  2016

Películas en 1950: 1081
Películas 1950-1959: 12606

Roles en 'The Godfather': 292

Roles en 'The Godfather': 292

,title,year,name,type,character,n
46,The Godfather of Green Bay,2005,Johnny 'Koolout' Starks,actor,Marcus,18.0
4349,The Godfather: Part III,1990,John Abineri,actor,Hamilton Banker,42.0
20883,The Godfather: Part II,1974,Danny Aiello,actor,Tony Rosato,36.0
25793,The Godfather: Part II,1974,Tito Alba,actor,Cuban President,48.0
26052,The Godfather: Part III,1990,Frank Albanese,actor,Grand Marshall at St. Gennaro Feast,NaN

Elenco de "Dracula" (1958) ordenado por n:

,title,year,name,type,character,n
1240853,The Return of Dracula,1958,Francis Lederer,actor,"Count Dracula, posing as Bellac Gordal",1.0
485197,Dracula,1958,Peter Cushing,actor,Doctor Van Helsing,1.0
1242308,Dracula,1958,Christopher Lee,actor,Count Dracula,2.0
1242307,Dracula,1958,Christopher Lee,actor,Dracula,2.0
2705228,The Return of Dracula,1958,Norma Eberhardt,actress,Rachel Mayberry,2.0
822398,Dracula,1958,Michael Gough,actor,Arthur,3.0
2091208,The Return of Dracula,1958,Ray Stricklyn,actor,Tim Hansen,3.0
2306094,The Return of Dracula,1958,John Wengraf,actor,John Merriman,4.0
3410427,Dracula,1958,Melissa Stribling,actress,Mina,4.0
3489498,The Return of Dracula,1958,Virginia Vincent,actress,Jennie Blake,5.0
3069196,Dracula,1958,Carol Marsh,actress,Lucy,5.0
2677557,Dracula,1958,Olga Dickie,actress,Gerda,6.0
408463,The Return of Dracula,1958,Gage Clarke,actor,Reverend Doctor Whitfield,6.0
2220986,Dracula,1958,John Van Eyssen,actor,Jonathan,7.0
110877,The Return of Dracula,1958,Jimmy Baird,actor,Mickey Mayberry,7.0
2777216,Dracula,1958,Valerie Gaunt,actress,Vampire Woman,8.0
2805831,The Return of Dracula,1958,Greta Granstedt,actress,Cora Mayberry,8.0
2731182,Dracula,1958,Janina Faye,actress,Tania,9.0
3552667,The Return of Dracula,1958,Enid Yousen,actress,Frieda,9.0
2444220,Dracula,1958,Barbara Archer,actress,Inga,10.0
1285506,Dracula,1958,Charles Lloyd Pack,actor,Doctor Seward,11.0
1453367,Dracula,1958,George Merritt,actor,Policeman,12.0
2357769,Dracula,1958,George Woodbridge,actor,Landlord,13.0
171732,Dracula,1958,George Benson,actor,Official,14.0
1347640,Dracula,1958,Miles Malleson,actor,Undertaker,15.0
148496,Dracula,1958,Geoffrey Bayldon,actor,Porter,16.0
423307,Dracula,1958,Paul Cole,actor,Lad,17.0
38868,The Return of Dracula,1958,Melvin F. Allen,actor,"Mel, the Baggage Clerk",NaN
673736,The Return of Dracula,1958,William Fawcett,actor,Eddie - Station Master,NaN
746702,The Return of Dracula,1958,Dan Gachman,actor,County Clerk,NaN
885191,The Return of Dracula,1958,Joseph Hamilton,actor,Man Reporting Murder at Station,NaN
1318929,The Return of Dracula,1958,Robert Lynn,actor,Dr. Paul Beecher,NaN
1433374,The Return of Dracula,1958,John McNamara,actor,Sheriff Bicknell,NaN
1475047,Dracula,1958,Guy Mills,actor,Coach Driver,NaN
1513434,Dracula,1958,Richard (VIII) Morgan,actor,Coach Driver's Companion,NaN
1524497,Dracula,1958,John (II) Mossman,actor,Hearse Driver,NaN
1937417,The Return of Dracula,1958,Norbert Schiller,actor,Bellack Gordal,NaN
2127813,The Return of Dracula,1958,Charles Tannen,actor,"Mack Bryant, Dept. of Immigration",NaN
3120710,The Return of Dracula,1958,Belle Mitchell,actress,Cornelia,NaN

Cantidad de papeles de 'Bruce Wayne': 49

Cantidad de papeles de Robert De Niro: 103

Cantidad de papeles de Robert De Niro: 103

Papeles como protagonista (n=1) de Charlton Heston en los 60s:

Papeles como protagonista (n=1) de Charlton Heston en los 60s:

,title,year,name,type,character,n
944074,Number One,1969,Charlton Heston,actor,Ron 'Cat' Catlan,1.0
944077,Planet of the Apes,1968,Charlton Heston,actor,George Taylor,1.0
944050,Counterpoint,1967,Charlton Heston,actor,Lionel Evans,1.0
944120,Will Penny,1967,Charlton Heston,actor,Will Penny,1.0
944066,Khartoum,1966,Charlton Heston,actor,Gen. Charles 'Chinese' Gordon,1.0
944068,Major Dundee,1965,Charlton Heston,actor,Major Amos Charles Dundee,1.0
944111,The War Lord,1965,Charlton Heston,actor,Chrysagon,1.0
944085,The Agony and the Ecstasy,1965,Charlton Heston,actor,Michelangelo,1.0
944038,55 Days at Peking,1963,Charlton Heston,actor,Maj. Matt Lewis,1.0
944052,Diamond Head,1962,Charlton Heston,actor,Richard 'King' Howland,1.0
944103,The Pigeon That Took Rome,1962,Charlton Heston,actor,Narrator,1.0
944101,The Pigeon That Took Rome,1962,Charlton Heston,actor,Captain Paul MacDougall,1.0
944102,The Pigeon That Took Rome,1962,Charlton Heston,actor,Benny the Snatch,1.0
944054,El Cid,1961,Charlton Heston,actor,El Cid Rodrigo de Vivar,1.0

No se encontró columna de categoría para contar actores/actrices por década.